{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <section class="container mtb invert">
            <h1 class="heading mb-6" style="text-align: center; font-size: xx-large">Change password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <p class="control has-icons-left">
                        <label class="label invert">{{ form.new_password1.label.capitalize }}:</label>
                        <input class="input" type="password" placeholder="Password"
                               name="{{ form.new_password1.html_name }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock" style="margin-top: 4rem"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <label class="label invert">{{ form.new_password2.label.capitalize }}:</label>
                        <input class="input" type="password" placeholder="Password Confirmation"
                               name="{{ form.new_password2.html_name }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock" style="margin-top: 4rem"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    {% for field in form %}
                        {% if field.help_text %}
                            <p class="help is-danger is-bold">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="field is-grouped mt-4">
                    <div class="control">
                        <button class="button is-link">Continue</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </section>
    {% else %}
        <p class="container">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}